.button {
    background-color: var(--color-green-500);
    color: var(--color-gray-900);
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--color-green-900);
  }
  
  .button:active {
    background-color: var(--color-green-700);
  }
  