.registrationForm {
    display: flex;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    flex-direction: column;
    max-width: 36rem;
    width: 100%;
    margin: 0 auto;
    gap: var(--space-xs);
}

.registerFormInput {
    display: flex;
    flex-direction: column;
    margin: var(--space-xxs) 0;
    width: 100%;
}

.registerFormInput label {
    display: flex;
    margin-bottom: 5px;
}

.registerFormInput input {
    width: 100%;
    padding: var(--space-xs);
    box-sizing: border-box;
}

.registrationForm .error-message {
    color: red;
}

.registrationForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registrationForm button:hover {
    background-color: #0056b3;
}