/* NFTList.module.css */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between NFT cards */
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9; /* Light background for better contrast */
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadMoreButton,
.loader {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
}

.loadMoreButton {
  background-color: #007bff; /* Primary color */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loadMoreButton:hover {
  background-color: #0056b3; /* Darker primary color for hover effect */
  border-color: #ffffff; /* White border on hover */
  color: #ffffff; /* Maintain text color as white on hover */
}

.loader {
  background-color: #f0f0f0; /* Light grey background for loader */
  animation: spin 1s linear infinite; /* Spinning animation */
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
